li{
    font-size: 17px;
    font-weight: 400;
}
main{
    margin: 20px;
    margin-top: 90px;
    background-image: url('./Assets/main.png.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 80vh;
}
main div {
    height: 100%;
}